body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f8f8f8;
}

.toolbar {
  margin-bottom: 10px;
}

button {
  cursor: url('cursor-pointer.cur'), pointer;
}

canvas {
  border: 1px solid #d3d3d3;
  cursor: url('cursor-crosshair.cur'), crosshair;
}
